head, body {
    background-color: rgb(128, 95, 160);
    margin: auto;
}

.container {
    font: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding: auto;
    margin-top: 10%;
    margin-bottom: 0%;
}

.header {
    color: rgb(218, 185, 144);
    font-size: x-large;
    margin: 0% 35%;
}

.homepage {
    color: rgb(40, 177, 177);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant-caps: all-petite-caps;
    margin: 0% 30%;
}

.add-note ::before {
    color: rgb(190, 167, 73);
    font-size: larger;
    font-weight: 800;
    margin: 0% 40%;
}

.add-note :hover {
    color: rgb(182, 123, 100);
}

.add-button {
    background-color: rgb(134, 18, 47);
    border-radius: 10%;
    padding: 0% 5% 0% 5%;
    margin-left: 40%;
}


#addNoteButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: auto; 
    display: block;
}


#addNoteButton:hover {
    background-color: #0056b3;
}


#noteDisplay {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.note {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.note h2 {
    color: #333;
    font-size: 24px;
}

.note p {
    color: #666;
    font-size: 16px;
}